<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>teacher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>PrivilegeFilter</filter-name>
    <filter-class>filter.PrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrivilegeFilter</filter-name>
    <url-pattern>/student_background_management/student_background_management.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>TeacherFilter</filter-name>
    <filter-class>filter.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <url-pattern>/teacher_login_register/teacher_background_management.jsp</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminFilter</filter-name>
    <filter-class>filter.AdminFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminFilter</filter-name>
    <url-pattern>/admin_background_management/admin_background_management.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CheckImgServlet</display-name>
    <servlet-name>CheckImgServlet</servlet-name>
    <servlet-class>controller.CheckImgServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckImgServlet</servlet-name>
    <url-pattern>/CheckImgServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherLoginServlet</display-name>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <servlet-class>controller.TeacherLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherLoginServlet</servlet-name>
    <url-pattern>/TeacherLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherRegisterServlet</display-name>
    <servlet-name>TeacherRegisterServlet</servlet-name>
    <servlet-class>controller.TeacherRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherRegisterServlet</servlet-name>
    <url-pattern>/TeacherRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentInfoServlet</display-name>
    <servlet-name>AddStudentInfoServlet</servlet-name>
    <servlet-class>controller.AddStudentInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentInfoServlet</servlet-name>
    <url-pattern>/AddStudentInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacherInfoServlet</display-name>
    <servlet-name>AddTeacherInfoServlet</servlet-name>
    <servlet-class>controller.AddTeacherInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacherInfoServlet</servlet-name>
    <url-pattern>/AddTeacherInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllStudentServlet</display-name>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <servlet-class>controller.FindAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllStudentServlet</servlet-name>
    <url-pattern>/FindAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherDelStudentServlet</display-name>
    <servlet-name>TeacherDelStudentServlet</servlet-name>
    <servlet-class>controller.TeacherDelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherDelStudentServlet</servlet-name>
    <url-pattern>/TeacherDelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddStudentServlet</display-name>
    <servlet-name>AdminAddStudentServlet</servlet-name>
    <servlet-class>controller.AdminAddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddStudentServlet</servlet-name>
    <url-pattern>/AdminAddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAddTeacherServlet</display-name>
    <servlet-name>AdminAddTeacherServlet</servlet-name>
    <servlet-class>controller.AdminAddTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAddTeacherServlet</servlet-name>
    <url-pattern>/AdminAddTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryAllStudentServlet</display-name>
    <servlet-name>AdminQueryAllStudentServlet</servlet-name>
    <servlet-class>controller.AdminQueryAllStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryAllStudentServlet</servlet-name>
    <url-pattern>/AdminQueryAllStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelStudentServlet</display-name>
    <servlet-name>AdminDelStudentServlet</servlet-name>
    <servlet-class>controller.AdminDelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelStudentServlet</servlet-name>
    <url-pattern>/AdminDelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryAllTeacherServlet</display-name>
    <servlet-name>AdminQueryAllTeacherServlet</servlet-name>
    <servlet-class>controller.AdminQueryAllTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryAllTeacherServlet</servlet-name>
    <url-pattern>/AdminQueryAllTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelTeacherServlet</display-name>
    <servlet-name>AdminDelTeacherServlet</servlet-name>
    <servlet-class>controller.AdminDelTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelTeacherServlet</servlet-name>
    <url-pattern>/AdminDelTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryStudentServlet</display-name>
    <servlet-name>AdminQueryStudentServlet</servlet-name>
    <servlet-class>controller.AdminQueryStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryStudentServlet</servlet-name>
    <url-pattern>/AdminQueryStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminQueryTeacherServlet</display-name>
    <servlet-name>AdminQueryTeacherServlet</servlet-name>
    <servlet-class>controller.AdminQueryTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminQueryTeacherServlet</servlet-name>
    <url-pattern>/AdminQueryTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateStudentServlet</display-name>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <servlet-class>controller.AdminUpdateStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateStudentServlet</servlet-name>
    <url-pattern>/AdminUpdateStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUpdateTeacherServlet</display-name>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <servlet-class>controller.AdminUpdateTeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUpdateTeacherServlet</servlet-name>
    <url-pattern>/AdminUpdateTeacherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelAStudentServlet</display-name>
    <servlet-name>AdminDelAStudentServlet</servlet-name>
    <servlet-class>controller.AdminDelAStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelAStudentServlet</servlet-name>
    <url-pattern>/AdminDelAStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDelATeacherServlet</display-name>
    <servlet-name>AdminDelATeacherServlet</servlet-name>
    <servlet-class>controller.AdminDelATeacherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDelATeacherServlet</servlet-name>
    <url-pattern>/AdminDelATeacherServlet</url-pattern>
  </servlet-mapping>
</web-app>